body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
}

section {
    margin: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

button, .order-button {
    padding: 10px;
    margin: 10px 0;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
}

button:hover, .order-button:hover, .delete-button:hover {
    opacity: 0.8;
}
